<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mituri">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mituri"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3490124517979643~5339996289"/>

        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditarPostActivity"
            android:exported="false" />
        <activity
            android:name=".MasInformacion_MisSitiosActivity"
            android:exported="false" />
        <activity
            android:name=".MasInformacionActivity"
            android:exported="false" />
        <activity
            android:name=".MisSitiosActivity"
            android:exported="false" />
        <activity
            android:name=".CRUD_SitioTuristico"
            android:exported="false" />
        <activity
            android:name=".RecoveryActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrarActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".AddPost"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>